@import url("styles/header.css"); 

:root{
    --cor-de-fundo:#23e6dc;
    --branco: #1e6ce0; 
    --laranja: #00d0eb7a;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--cor-de-fundo) ;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;


}
