@import url(styles/header.css); 
@import url(styles/banner.css);
@import url(styles/carrossel.css);


:root{
    --cor-de-fundo:#8044cf94;
    --branco: #8939e460; 
    --laranja: #2b00eb50;
    --azul-degrade: linear-gradient(97.54deg, #5fa4f3a8 35.49%,#5fa4f3a8 35.49%);
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--cor-de-fundo) ;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;


}
 





