.banner{      
    background-color: rgb(255, 0, 221);
    
    color: rgba(0, 255, 242, 0.281);
    text_align: center;}

    .banner__titulo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
    padding: 1em;
    }

    .banner__texto{
    font-size: 18px;
    font-weight: 900;
    margin: 1em 0;   
    
    }
    
    .banner__pesquisa{
      background-color:transparent;
      border:1px solid white;
      border-radius:24px;
      width:50%;
      color:aquamarine }
    
    
    













