.banner{      
    background-color: #099359d3 35.49%;
    
    color: rgba(24, 25, 123, 0.877);
    text-align: center;}

    .banner__titulo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
    padding: 1em;
    }

    .banner__texto{
    font-size: 18px;
    font-weight: 900;
    margin: 1em 0;   
    
    }
    
    .banner__pesquisa{
      background-color:transparent;
      border:1px solid rgb(20, 181, 143);
      border-radius:24px;
      width:50%;
      color:rgb(11, 150, 122) }
    
    
    













