.carrossel__titulo {                                                                           
    color: rgb(189, 93, 24);
    background-color:rgb(207, 165, 232);
    text-align: center; 
    font-size: 18px;
    font-weight: 700;
    padding: 1em;
}
.carrossel{
    background-color:rgb(176, 14, 14)   ;  
}
.swiper-slide img{
    padding: 3px;
text-align: center;
    width: 100%;
}
.swiper-button-prev,.swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial;
    margin:0.5em 0}